.none {
    display: flex;
    justify-content: center;
    align-items: center;
}

.none p {
    margin: 2em 0;
    font-size: 1.3em;
    color: aliceblue;
    background-color: gray;
    padding: 1.5em;
    border-radius: 0.6em;
}

#dadodia{
    font-size: 1.5em;
    text-align: center;
    margin-top: 2%;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 2%;
}

/* linhas pares (even) */
table tbody tr:nth-child(even) {
    background-color: rgb(223, 219, 219);
}
/* linhas ímpares (odd) */
table tbody tr:nth-child(odd) {
    background-color: rgb(254, 255, 241);
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr{
    background-color: #EBE7D0;
    border: 1px solid white;
    padding: .35em;
} 

table th, table td{
    padding: .62em;
    text-align: center;
}

table th{
  font-size: .85em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

tr button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-table{
    padding: 1px 200px;
    margin-bottom: 2%;
}

.flex-end{
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1em;
    background-color: #EBE7D0;
    border: 0;
    cursor: pointer;
}

button svg{
    margin-right: 5px;
}

button a{
    text-decoration: none;
    color: #000;
}
