.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding: 2em 0em;
}

.content p{
    font-size: 1.6em;
    margin-bottom: 1em;
}

.dados{
    width: 35vw;
    display: flex;
    flex-direction: column;
}

input{
    height: 5vh;
    font-size: 1.3em;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.metade{
    display: grid;
    grid-template-columns: 17vw 17.1vw;
    grid-column-gap: 1em;
}

.school{
    display: flex;
    flex-direction: row;
}

.school input{
    width: 27vw;
}

.submits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.submits button{
    margin-top: 1em;
    font-size: 1.3em;
    border-radius: 15px;
    border-style: hidden;
    height: 5vh;
}

.del{
    width: 8vw;
    height: 5vh;
    margin-left: .5em;
    font-size: 1.3em;
    border-radius: 10px;
    border-style: hidden;
    background-color: #F36868;
    color: #FFF;
}

.add{
    width: 13vw;
    background-color: #FEFFC5;
}

.submit{
    width: 8vw;
    background-color: #A2FAB6;
}